/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}

.recursos {
    padding: 2em;
}

footer {
    text-align: center;
    padding: 1em;
    background-color: #333;
    color: white;
}

/* styles.css */

/* ... (seus estilos existentes) ... */

.recursos {
    text-align: center; /* Centraliza o texto */
    padding: 2em;
}

.video-section {
    text-align: center;
    padding: 2em;
    margin-top: 2em; /* Adicione esta linha para criar espaço acima do vídeo */
}

.video-section video {
    display: block;
    margin: 0 auto;
}

.intro {

    text-align: center; /* Centraliza o texto */

}



.sobre {
    color: black; /* Altera a cor do texto para preto */
    font-size: 16px; /* Ajuste o tamanho da fonte conforme necessário */
    text-align: center; /* Centraliza o texto */
    margin: 0 auto; /* Centraliza horizontalmente */
}

/* styles.css */

/* ... (seus estilos existentes) ... */

.captacao {
    text-align: center; /* Centraliza o formulário */
    padding: 2em;
}

/* styles.css */

/* ... (seus estilos existentes) ... */

.captacao button {
    display: block;
    margin-bottom: 1em; /* Espaçamento entre os campos */
    width: 100%; /* Preenche a largura do formulário */
    background-color: green; /* Cor de fundo verde */
    color: white; /* Cor do texto branca */
    padding: 10px 20px; /* Espaçamento interno (cima/baixo, esquerda/direita) */
    font-size: 18px; /* Tamanho da fonte */
    border: none; /* Remove a borda */
    cursor: pointer;
    text-align: center;
}

/* styles.css */

/* ... (seus estilos existentes) ... */

/* Estilos para telas menores que 600px (celulares) */
@media screen and (max-width: 600px) {
    .intro {
        font-size: 14px; /* Tamanho menor de fonte */
    }

    .captacao form {
        width: 90%; /* Largura do formulário maior para dispositivos menores */
    }

    /* Mais ajustes de estilo conforme necessário */
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
.header {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: top;
}
.content {
    display: flex;
    align-items: flex-start;
    padding: 20px;
}
.left {
    flex: 1;
}
.left img {
    max-width: 40%;
    display: block;
}
.right {
    flex: 2;
    padding-left: 20px;
}

/* Suponhamos que você tenha uma classe chamada "foto" que você quer posicionar no topo */
.left {
    position: absolute; /* Define a posição absoluta para controlar a localização */
    top: 0; /* Define a distância do topo como 0 para colocar a foto no topo */
    left: 11%; /* Move a foto para o meio horizontal */
    transform: translateX(-50%); /* Centraliza horizontalmente a foto */
    max-width: 20%;

  }
  